*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: arial;
  max-width: 1800px;
  margin: auto;
}
@font-face{
   font-family: 'titania';
   src: url(font/font_logo/Titania-Regular.ttf) format('truetype');

}
:root{
  --cor-1:#458deb;
  --cor-2:#f5b074;
  --cor-3:#f07979;
  --cor-4:#02564e;
}
strong{
  font-size: 2em;
  color: var(--cor-3);
}
nav{
  height: 80px;
  background-color: var(--cor-2);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav > img{
 margin-left: 30px;
 margin-top:5px;
}
nav > ul{
 float: right;
}
nav li{
  display: inline-block;
  font-size: 1.3em;
  margin-top: 25px;
  margin-right: 10px;
}
nav a{
  padding: 33px 40px;
  color: var(--cor-4);
  transition: all ease-in-out .3s;
}
nav a:hover{
  background-color: var(--cor-3);
}
header{
  
  margin: auto;
  padding-top: 80px;
  background-color: var(--cor-4);
  width: 100%;
  height: 1000px;
  display: flex;
}
#intro{
  margin-left: 40px;
  margin-top: 200px;
  background-color:var(--cor-4);
  width: 50%;
  height: 55%;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.333);
  transition: all ease-in-out .5s;
}
#intro:hover{
  width: 60%;
}
#intro h1{
  color:var(--cor-2);
  font-size: 3em;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: titania ;
  letter-spacing: 3px;
}
#intro{
 color: white;
}
#intro p{
  padding: 20px;
}
#hlogo{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#hlogo img{
  width: 600px;
  height: auto;
  transform: scaleX(-1);
}
main{
  height: 5000px;
  background-color: rgb(239, 239, 239);
}
#cursos{
  text-align: center;
}
#cursos h1{
   text-align: center;
   padding-top: 80px;
   font-size: 3em;
   color: var(--cor-1);
   margin-bottom: 50px;
}
#cursos > a{
  margin-bottom: 50px;
  color: white;
  padding: 20px;
  border-radius: 15px;
  background-color:var(--cor-2);
  font-weight: bold;
  transition: all ease-in-out .3s;
}
#cursos > a:hover{
  padding: 30px;
}
.arti{
  margin-top: 200px;
}
.curso1{
  margin-right: 90px;
  margin-bottom:150px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  display:inline-flex;
  margin-left: 40px;
  margin-top:0px ;
  position: relative; 
}
.curso1 img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition:all ease-in-out .3s;
}
.curso1 > table {
  display: none;
  margin-top: 300px;
  left: 0;
  position: absolute;
  color: white;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--cor-1);
  width: 365px;
  transition:all ease-in-out .6s;
}
th{
  font-size: 1.5em;
  padding-bottom: 10px;
}

.curso1:hover img{
  box-shadow:0px 0px 20px 10px #f079795d;
  transform: scale(1.1);
}

.curso1:hover table {
  display: block;
}
#avaliaçoes{
  margin-top: 300px;
  width: 100%;
  height: 500px;
}
#avaliaçoes h1{
  margin-left: 50px;
  color: var(--cor-1);
  font-size: 2.8em;
}
.alunos .aluno1{
  display: flex;
  margin-top: 450px;
}
.aluno1 img, .aluno2 img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0px;
  margin-left:100px;
  box-shadow: 0px 0px 0px 15px var(--cor-3);
}
.aluno1 p, .aluno2 p{
  width: 500px;
  margin-left: 80px;
  font-weight: bold;
}
.aluno2{
  display: flex;
  margin-top: 150px;
  float: right;
  margin-right: 100px;
}
#parceiros{
  margin-top: 1500px;
  height: 1000px;
}
#parceiros h1{
  margin-left: 100px;
  font-size: 4em;
  color: var(--cor-1);
  margin-bottom: 200px;
}
#parceiros img{
  width: 180px;
  margin-left:10px;
  padding: 65px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.181);
}
#comunidade{
  background-color: #02564e;
  height: 950px;
}
#comunidade img{
  width: 200px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #0455BF;
}
footer a{
  color: white;
  transition: all ease-in-out .5s;
}
footer a:hover{
  padding-left: 1px;
  font-size: 1.3em;
}