*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style-type: none;
  font-family: arial;
}
nav{
  height: 80px;
  background-color: antiquewhite;
  width: 100%;
  position: fixed;
  top: 0;
}
nav > img{
 margin-left: 30px;
 margin-top:5px;
}
nav > ul{
 float: right;
}
nav li{
  display: inline-block;
  margin: 30px 40px;
}
header{
  padding-top: 80px;
  background-color: aquamarine;
  width: 100%;
  height: 1000px;
  display: flex;
}
#intro{
  background-color: azure;
  width: 50%;
  text-align: center;
}
#intro h1{
  font-size: 3em;
  padding: 40px;
  margin-top: 300px;
  margin-bottom: 50px;
}
#intro{
  text-align: justify;
}
#hlogo{
  background-color: beige;
  width: 50%;
}
#hlogo img{
  width: 50%;
  height: auto;
}